.ParkingSpace {
  border: 1px solid #333;
  padding: 20px;
  margin: 5px;
  width: 100px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
